# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string:

<div style="text-align: right">1 point</div>

In [1]:
def str_to_dict(some_str):  
    """
    :param some_str: str
    :return: dict
    """
    # YOUR CODE HERE
    some_dict = {}
    for i in some_str:
        if i in some_dict.keys():
            continue
        sum_words = 0
        for j in range(some_str.find(i),len(some_str)):
            if i == some_str[j]:
                sum_words += 1
        some_dict[i] = sum_words
    return some_dict

In [2]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):

<div style="text-align: right">1 point

In [3]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
    # YOUR CODE HERE
    min_number = numbers[0]
    min_second = numbers[0]
    for i in numbers:
        if min_number >= i:
            if min_number == i:
                continue
            min_second = min_number
            min_number = i
        elif min_second >= i:
            min_second = i
    return min_second

In [4]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

Sec_smallest: -2

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n:

<div style="text-align: right">1 point</div>

In [5]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    # YOUR CODE HERE
    simple_numbers = []
    for num in range(2,n):
        prime = True
        for i in range(2,num):
            if (num%i==0):
                prime = False
                break
        if prime:
            simple_numbers.append(num)
    return simple_numbers

In [6]:
print('Prime numbers:', prime_nums(30))

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

**4. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements:**

<div style="text-align: right">1 point</div>

In [7]:
def max_sum_index(tuples):  
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    # YOUR CODE HERE
    sum_max = sum(tuples[0])
    index_max = 0
    i = 0
    for j in tuples:
        if sum(j) > sum_max:
            sum_max = sum(j)
            index_max = i
        i += 1
    return index_max

In [8]:
print(max_sum_index([(10, 20), (40, 32), (30, 25)]))

1

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>

**5. Implement function gcd(x, y), which returns the greatest common divisor of n and m.**
<div style="text-align: right">1 point</div>

In [9]:
def gcd(x, y):   
    '''
    :params m,n: int
    :return: int
    '''
    # YOUR CODE HERE
    while x != 0 and y != 0:
        if x > y:
            x %= y
        else:
            y %= x
    return x + y

In [10]:
print(gcd(160, 180))

20

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

#### 6. Implement recursive sum of the list:
<div style="text-align: right">1 point</div>

In [11]:
def recursive_list_sum(data_list):
    """
    :param data_list: list[list]
    """
    # YOUR CODE HERE
    sum_list = []
    for i in data_list:
        try:
            sum_list.extend(i)
        except:
            sum_list.append(i)
    return sum(sum_list)

In [12]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3,4],[5,6], [7, 8, 9]]))

The sum of a list is  45

Expected Output:
<table>
  <tr>
    <td>The sum of a list is 45</td> 
  </tr>

#### 7. Implement decorator which returns function signature and it's return value:
<div style="text-align: right">1 point</div>

In [13]:
def debug(func):
    """
    :param func: function
    """
    # YOUR CODE HERE
    def wrapper(*args, **kwargs):
        output = func(*args, **kwargs)
        print(f'{func.__name__}{args} was called and returned {output}')
        return output

    return wrapper

In [14]:
@debug
def add(a, b):
    return a + b

add(3, 4)

add(3, 4) was called and returned 7

7

Expected Output:
<table>
  <tr>
    <td>'add(3, 4) was called and returned 7'</td>
  </tr>

#### 8. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals:

<div style="text-align: right">2 points</div>

In [15]:
class Conv:
    def __init__(self):
        self.val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        self.syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        
    def to_roman(self, num):    
        """
        :param self:
        :param n: int
        :return: str    
        """
        # YOUR CODE HERE
        roman_num = ''
        i = 0
        while  num > 0:
            for _ in range(num // self.val[i]):
                roman_num += self.syb[i]
                num -= self.val[i]
            i += 1
        return roman_num

In [16]:
print('Converted:', Conv().to_roman(44))

Converted: XLIV

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 9. Implement class CombinationsList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element and in order, law of which can be discrovered from the expected output:
<div style="text-align: right">3 points</div>

In [17]:
class CombinationsList:
    @staticmethod
    def get_combinations(my_list):
        """
        :param self:
        :param my_list: list
        :return: list[list]
        """
        # YOUR CODE HERE
        n = len(my_list)
        answer = []
        for i in range(2**n):
            combo = []
            for j in range(n):
                if (i >> j) % 2 == 1:
                    combo.append(my_list[j])
            answer.append(combo)
        return answer

In [18]:
print('Combinations:', CombinationsList().get_combinations([1, 2, 'a']))

Combinations: [[], [1], [2], [1, 2], ['a'], [1, 'a'], [2, 'a'], [1, 2, 'a']]

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]</td> 
  </tr>

#### 10. Create base class <code>Rocket</code> and it's subclass <code>Shuttle</code>. The parent class contains methods <code>getMission()</code>, <code>addMission()</code> and <code>getName()</code>. The subclass <code>Shuttle</code> contains method <code>getDescription()</code>. Notice that we have not defined <code>getName()</code>, <code>getMission()</code>, <code>addMission()</code> in the <code>Shuttle</code> class but we are still able to access them, because the class <code>Shuttle</code> inherits them from the <code>Rocket</code> class. Use <code>super()</code> method to have ability to call those methods of the base class.
<div style="text-align: right">3 points</div>

In [19]:
class Rocket:

    def __init__(self, name, mission):
        """
        :param name: str
        :param mission: str or list
        """
        # attributes are private to class Rocket
        self.__name = name      
        self.__mission = mission

    def getMission(self): 
        """
        : return str or list
        """
        # YOUR CODE HERE
        return self.__mission

    def addMission(self, mission): 
        # procedure method which adds a new mission. There can be one (str) or multiple (list) existing missions
        """
        : param mission: str
        """
        # YOUR CODE HERE
        if type(self.__mission) == 'list':
            self.__mission.append(mission)
        else:
            self.__mission = [self.__mission, mission]
        
    def getName(self):
        """
        : return str
        """
        # YOUR CODE HERE
        return self.__name

    
class Shuttle(Rocket):

    def __init__(self, name, mission, model):
        # call parent constructor to set name and mission  
        """
        :param name: str
        :param mission: str or list
        : param model: str
        """
        # YOUR CODE HERE
        super().__init__(name, mission)
        self.__model = model

    def getDescription(self):
        return 'Name: {0}\nModel: {1}\nMissions: {2}'.format(self.getName(), self.__model, str(self.getMission()))

In [20]:
dragon = Shuttle("Crew Dragon", "Dragon 2 pad abort test", "V2")
print(dragon.getDescription(), '\n')
dragon.addMission('Dragon 2 in-flight abort test')
print(dragon.getDescription())

Name: Crew Dragon
Model: V2
Missions: Dragon 2 pad abort test

Name: Crew Dragon
Model: V2
Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']

Expected Output: 

                Name: Crew Dragon
                Model: V2
                Missions: Dragon 2 pad abort test
                
                Name: Crew Dragon
                Model: V2
                Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']