In [1]:
import requests  # импортируем модуль
import pandas as pd
import datetime

In [325]:
list_company = ['PD', 'ZUO', 'PINS', 'ZM', 'PVTL', 'DOCU', 'CLDR', 'RUN']

In [327]:
for i in list_company:
    with open(r'C:\Users\demap\PycharmProjects\parser_yahoo\{}.csv'.format(i), "wb") as f:  # делая через менеджер контекста чтобы не было проблем с работой файлов
        ufr = requests.get("https://query1.finance.yahoo.com/v7/finance/download/{}?period1=1565481600&period2=1597104000&interval=1d&events=history".format(i))  # делаем запрос
        f.write(ufr.content)    # записываем в файл наши данны
df = pd.read_csv('{}.csv'.format(i))
        df['Date'] = pd.to_datetime(df['Date'])
        df['3day_before_change'] = '-'
        n = len(df.Close)
        for _ in range(n - 3):
            if (df['Date'][_ + 1] - df['Date'][_]).days == 3:
                if df.loc[_ + 1, 'Close'] != float(0) and df.loc[_, 'Close'] != float(0):
                    df.loc[_ + 1, '3day_before_change'] = float(df.loc[_ + 1, 'Close'] / df.loc[_, 'Close'])
            elif (df['Date'][_ + 2] - df['Date'][_]).days == 3:
                if df.loc[_ + 2, 'Close'] != float(0) and df.loc[_, 'Close'] != float(0):
                    df.loc[_ + 2, '3day_before_change'] = float(df.loc[_ + 2, 'Close'] / df.loc[_, 'Close'])
            elif (df['Date'][_ + 3] - df['Date'][_]).days == 3:
                if df.loc[_ + 3, 'Close'] != float(0) and df.loc[_, 'Close'] != float(0):
                    df.loc[_ + 3, '3day_before_change'] = float(df.loc[_ + 3, 'Close'] / df.loc[_, 'Close'])
        if (df['Date'][n - 1] - df['Date'][n - 2]).days == 3:
            if df.loc[n - 1, 'Close'] != float(0) and df.loc[n - 2, 'Close'] != float(0):
                df.loc[n - 1, '3day_before_change'] = float(df.loc[n - 1, 'Close'] / df.loc[n - 2, 'Close'])
        if (df['Date'][n - 2] - df['Date'][n - 3]).days == 3:
            if df.loc[n - 2, 'Close'] != float(0) and df.loc[n - 3, 'Close'] != float(0):
                df.loc[n - 2, '3day_before_change'] = float(df.loc[n - 2, 'Close'] / df.loc[n - 3, 'Close'])
        df.to_csv('{}.csv'.format(i))

IndentationError: unexpected indent (<ipython-input-327-d3d0a3814b92>, line 6)

In [319]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [320]:
df['3day_before_change'] = '-'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                252 non-null    datetime64[ns]
 1   Open                252 non-null    float64
 2   High                252 non-null    float64
 3   Low                 252 non-null    float64
 4   Close               252 non-null    float64
 5   Adj Close           252 non-null    float64
 6   Volume              252 non-null    int64
 7   3day_before_change  252 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 15.9+ KB

In [321]:
n = len(df.Adj Close)
for _ in range(n-3):
    if (df['Date'][_+1] - df['Date'][_]).days == 3:
        if df.loc[_+1, 'Adj Close'] != float(0) and df.loc[_, 'Adj Close'] != float(0):
            df.loc[_+1, '3day_before_change'] = float(df.loc[_+1, 'Adj Close'] / df.loc[_, 'Adj Close'])
    elif (df['Date'][_+2] - df['Date'][_]).days == 3:
        if df.loc[_+2, 'Adj Close'] != float(0) and df.loc[_, 'Adj Close'] != float(0):
            df.loc[_+2, '3day_before_change'] = float(df.loc[_+2, 'Adj Close'] / df.loc[_, 'Adj Close'])
    elif (df['Date'][_+3] - df['Date'][_]).days == 3:
        if df.loc[_+3, 'Adj Close'] != float(0) and df.loc[_, 'Adj Close'] != float(0):
            df.loc[_+3, '3day_before_change'] = float(df.loc[_+3, 'Adj Close'] / df.loc[_, 'Adj Close'])
if (df['Date'][n-1] - df['Date'][n-2]).days == 3:
    if df.loc[n-1, 'Adj Close'] != float(0) and df.loc[n-2, 'Adj Close'] != float(0):
        df.loc[n-1, '3day_before_change'] = float(df.loc[n-1, 'Adj Close'] / df.loc[n-2, 'Adj Close'])
if (df['Date'][n-2] - df['Date'][n-3]).days == 3:
    if df.loc[n-2, 'Adj Close'] != float(0) and df.loc[n-3, 'Adj Close'] != float(0):
        df.loc[n-2, '3day_before_change'] = float(df.loc[n-2, 'Adj Close'] / df.loc[n-3, 'Adj Close'])

In [322]:
df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume,3day_before_change
242,2020-07-28,27.870001,28.760000,27.500000,28.180000,28.180000,1988900,-
243,2020-07-29,28.480000,29.959999,28.395000,29.940001,29.940001,1934400,-
244,2020-07-30,29.320000,30.480000,29.040001,29.910000,29.910000,1635600,1.06745
245,2020-07-31,29.320000,30.480000,29.320000,30.480000,30.480000,875600,1.08162
246,2020-08-03,30.540001,30.950001,30.040001,30.709999,30.709999,1145700,1.00755
247,2020-08-04,30.770000,31.090000,30.270000,30.959999,30.959999,814400,-
248,2020-08-05,31.080000,32.942001,30.504999,32.840000,32.840000,1527400,-
249,2020-08-06,33.000000,33.087002,31.290001,31.600000,31.600000,900100,1.02898
250,2020-08-07,31.500000,32.000000,29.379999,29.850000,29.850000,1410900,0.964147
251,2020-08-10,30.000000,30.180000,26.980000,28.360001,28.360001,1331100,0.950084

In [323]:
df.to_csv('PD.csv')

In [4]:
df = pd.read_csv('employee_file2.csv')

In [5]:
df

          Title        Link
0    John Smith  Accounting
1  Erica Meyers          IT

In [7]:
df = pd.read_csv('PVTL.csv')

In [14]:
df

Empty DataFrame
Columns: [404 Not Found: No data found,  symbol may be delisted]
Index: []

In [24]:
print(df.columns[0] == '404 Not Found: No data found')

True

In [ ]:
import requests  # импортируем модуль
import pandas as pd
list_company = ['PD', 'ZUO', 'PINS', 'ZM', 'PVTL', 'DOCU', 'CLDR', 'RUN']

for i in list_company:
    with open(r'C:\Users\demap\PycharmProjects\parser_yahoo\{}.csv'.format(i), "wb") as f:  # делая через менеджер контекста чтобы не было проблем с работой файлов
        ufr = requests.get("https://query1.finance.yahoo.com/v7/finance/download/{}?period1=1565481600&period2=1597104000&interval=1d&events=history".format(i))  # делаем запрос
        f.write(ufr.content)    # записываем в файл наши данны

for i in list_company:
    df = pd.read_csv('{}.csv'.format(i))
    if df.columns[0] == '404 Not Found: No data found':
        continue
    df['Date'] = pd.to_datetime(df['Date'])
    df['3day_before_change'] = '-'
    n = len(df.Close)
    for _ in range(n - 3):
        if (df['Date'][_ + 1] - df['Date'][_]).days == 3:
            if df.loc[_ + 1, 'Close'] != float(0) and df.loc[_, 'Close'] != float(0):
                df.loc[_ + 1, '3day_before_change'] = float(df.loc[_ + 1, 'Close'] / df.loc[_, 'Close'])
        elif (df['Date'][_ + 2] - df['Date'][_]).days == 3:
            if df.loc[_ + 2, 'Close'] != float(0) and df.loc[_, 'Close'] != float(0):
                df.loc[_ + 2, '3day_before_change'] = float(df.loc[_ + 2, 'Close'] / df.loc[_, 'Close'])
        elif (df['Date'][_ + 3] - df['Date'][_]).days == 3:
            if df.loc[_ + 3, 'Close'] != float(0) and df.loc[_, 'Close'] != float(0):
                df.loc[_ + 3, '3day_before_change'] = float(df.loc[_ + 3, 'Close'] / df.loc[_, 'Close'])
    if (df['Date'][n - 1] - df['Date'][n - 2]).days == 3:
        if df.loc[n - 1, 'Close'] != float(0) and df.loc[n - 2, 'Close'] != float(0):
            df.loc[n - 1, '3day_before_change'] = float(df.loc[n - 1, 'Close'] / df.loc[n - 2, 'Close'])
    if (df['Date'][n - 2] - df['Date'][n - 3]).days == 3:
        if df.loc[n - 2, 'Close'] != float(0) and df.loc[n - 3, 'Close'] != float(0):
            df.loc[n - 2, '3day_before_change'] = float(df.loc[n - 2, 'Close'] / df.loc[n - 3, 'Close'])
    df.to_csv('{}.csv'.format(i))

In [26]:
import csv

with open('employee_file2.csv', mode='w') as csv_file:
    fieldnames = ['Title', 'link']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'Title': 'Title', 'link': 'link'})

In [27]:
import requests
from bs4 import BeautifulSoup
import csv

with open(r'C:\Users\demap\PycharmProjects\parser_yahoo\PD.html', "wb") as f:  # делая через менеджер контекста чтобы не было проблем с работой файлов
    ufr = requests.get("https://finance.yahoo.com/quote/PD?p=PD&.tsrc=fin-srch")  # делаем запрос
    f.write(ufr.content)
    html = open(r'C:\Users\demap\PycharmProjects\parser_yahoo\PD.html').read()
    soup = BeautifulSoup(html, 'lxml')
    div = soup.find('h3', class_="Mb(5px)")
    with open('employee_file2.csv', mode='w') as csv_file:
        fieldnames = ['Title', 'link']
        writer = csv.DictWriter(csv_file, fieldnames=fieldnames)    print(div.next.get('href'))
        print(div.get_text())

SyntaxError: invalid syntax (<ipython-input-27-da7981a48f4b>, line 13)